
.WeatherCard {
  padding: 2.5% 1.25% 5%;
  position: relative;
  background-color: #a3c7e0;
  text-align: center;
  color: white;
  width: 100%;
}
.location {
	font-size: 2em;
	font-weight: 700;
	margin: 0;
}

.date {
	font-size: 1em;
	font-weight: 300;
	text-transform: uppercase;
}
.temp {
	font-size: 3em;
  line-height: 1;
  margin: 0;
  
}
